@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";


body {
  font-family: 'Poppins', sans-serif;
}
@keyframes float {
  0%, 100% { transform: translate(-50%, -50%) translateX(0px) translateY(0px); }
  25% { transform: translate(-50%, -50%) translateX(100px) translateY(-50px); }
  50% { transform: translate(-50%, -50%) translateX(-120px) translateY(80px); }
  75% { transform: translate(-50%, -50%) translateX(60px) translateY(100px); }
}
.animate-float {
  animation: float 20s ease-in-out infinite;
}
